* {

  font-family: 'Ubuntu', sans-serif;
}


nav>ul>div {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around !important;
  background-color: #6A35F0;

  padding: 1%;
}



nav>ul>div>a {
  font-size: 1.1em;

  margin-left: 2%;
  margin-right: 2%;
  flex: none;
  text-decoration: none;
  color: white;
}


.end {
  margin-left: 80%;
}

.lien_article {
  text-decoration: none;
  color: #4E3870;
}

article {
  border: 1px solid #4E3870;
  border-radius: 8px;
  margin: 10%;

  margin-top: 5%;
  display: flex;
  flex-direction: row;
}

article>p {
  /* padding: 2%; */
  align-self: center;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;

}

.img_article {
  border-radius: 8px;
  width: 400px;
  height: 200px;
}



footer {
  background-color: #6A35F0;
  padding: 5%;
}