nav>ul>div {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
  background-color: #6A35F0;
  /*
  padding: 1%; */
}


nav>ul>div>a {
  /* font-size: 1.1em; */
  /* margin-left: 1%; */
  text-decoration: none;
  color: white;
}

/* 
.end {
  margin-left: 80%;
} */